individual-experiments/SandboxProject/metamodels/Example_to_be_included.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" targetNamespace="http://example.com/example-with-include"
	xmlns="http://example.com/example-with-include">

	<xsd:complexType name="Customer">
		<xsd:attribute name="customerName" type="xsd:string"/>
		<xsd:attribute name="street" type="xsd:string"/>
		<xsd:attribute name="city" type="xsd:string"/>
	</xsd:complexType>
		
</xsd:schema>