xmlintelledit/xmltext/examples/thingdesc/thing-description-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:thing-description="http://eclipse.org/smarthome/schemas/thing-description/v1.0.0"
	targetNamespace="http://eclipse.org/smarthome/schemas/thing-description/v1.0.0">

	<xs:element name="config-descriptions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="config-description" type="thing-description:configDescription"
					minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="config-description" type="thing-description:configDescription" />
	<xs:simpleType name="idRestrictionPattern">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9\-_]+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="uriRestrictionPattern">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9\-_]+(:[A-Za-z0-9\-_]+){1,2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="configDescription">
		<xs:sequence>
			<xs:element name="parameter-group" type="thing-description:parameterGroup"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="parameter" type="thing-description:parameter"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="uri"
			type="thing-description:uriRestrictionPattern" use="optional" />
	</xs:complexType>
	<xs:complexType name="parameter">
		<xs:all>
			<xs:element name="context" type="xs:string" minOccurs="0" />
			<!-- deprecated element "required" -->
			<xs:element name="required" type="xs:boolean" default="false"
				minOccurs="0" />
			<xs:element name="default" type="xs:string" minOccurs="0" />
			<xs:element name="label" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="options" type="thing-description:optionsType"
				minOccurs="0" />
			<xs:element name="limitToOptions" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="filter" type="thing-description:filterType"
				minOccurs="0" />
			<xs:element name="advanced" type="xs:boolean" minOccurs="0" />
			<xs:element name="verify" type="xs:boolean" minOccurs="0" />
			<xs:element name="multipleLimit" type="xs:integer"
				minOccurs="0" />
			<xs:element name="unitLabel" type="xs:string" minOccurs="0" />
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="type" type="thing-description:parameterType"
			use="required" />
		<xs:attribute name="groupName" type="xs:string" />
		<xs:attribute name="min" type="xs:decimal" />
		<xs:attribute name="max" type="xs:decimal" />
		<xs:attribute name="step" type="xs:decimal" />
		<xs:attribute name="pattern" type="xs:string" />
		<xs:attribute name="required" type="xs:boolean" />
		<xs:attribute name="readOnly" type="xs:boolean" />
		<xs:attribute name="multiple" type="xs:boolean" />
		<xs:attribute name="unit" type="thing-description:unitType" />
	</xs:complexType>
	<xs:complexType name="parameterGroup">
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="context" type="xs:string" minOccurs="0" />
			<xs:element name="advanced" type="xs:boolean" minOccurs="0" />
		</xs:all>
		<xs:attribute name="name" type="xs:string" use="required" />
	</xs:complexType>
	<xs:complexType name="optionsType">
		<xs:sequence>
			<xs:element name="option" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="value" type="xs:string" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="filterType">
		<xs:sequence>
			<xs:element name="criteria" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="name" type="xs:string" use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="parameterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="text" />
			<xs:enumeration value="integer" />
			<xs:enumeration value="decimal" />
			<xs:enumeration value="boolean" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="cd" />
			<xs:enumeration value="K" />
			<xs:enumeration value="kg" />
			<xs:enumeration value="m" />
			<xs:enumeration value="mol" />
			<xs:enumeration value="s" />
			<xs:enumeration value="Bq" />
			<xs:enumeration value="C" />
			<xs:enumeration value="F" />
			<xs:enumeration value="Gy" />
			<xs:enumeration value="H" />
			<xs:enumeration value="Hz" />
			<xs:enumeration value="J" />
			<xs:enumeration value="kat" />
			<xs:enumeration value="lm" />
			<xs:enumeration value="lx" />
			<xs:enumeration value="N" />
			<xs:enumeration value="Pa" />
			<xs:enumeration value="rad" />
			<xs:enumeration value="S" />
			<xs:enumeration value="sr" />
			<xs:enumeration value="Sv" />
			<xs:enumeration value="T" />
			<xs:enumeration value="V" />
			<xs:enumeration value="W" />
			<xs:enumeration value="Wb" />
			<xs:enumeration value="Cel" />
			<xs:enumeration value="g" />
			<xs:enumeration value="m/s2" />
			<xs:enumeration value="m2v" />
			<xs:enumeration value="m3" />
			<xs:enumeration value="kph" />
			<xs:enumeration value="l" />
			<xs:enumeration value="ms" />
			<xs:enumeration value="min" />
			<xs:enumeration value="h" />
			<xs:enumeration value="d" />
			<xs:enumeration value="week" />
			<xs:enumeration value="y" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="configDescriptionRef">
		<xs:attribute name="uri"
			type="thing-description:uriRestrictionPattern" use="required" />
	</xs:complexType>

	<xs:element name="thing-descriptions">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="thing-type" type="thing-description:thingType" />
				<xs:element name="bridge-type" type="thing-description:bridgeType" />
				<xs:element name="channel-type" type="thing-description:channelType" />
				<xs:element name="channel-group-type" type="thing-description:channelGroupType" />
			</xs:choice>
			<xs:attribute name="bindingId"
				type="thing-description:idRestrictionPattern" use="required" />
		</xs:complexType>
	</xs:element>

	<xs:complexType name="thingType">
		<xs:sequence>
			<xs:element name="supported-bridge-type-refs"
				type="thing-description:supportedBridgeTypeRefs" minOccurs="0" />
			<xs:element name="label" type="xs:string" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:choice minOccurs="0">
				<xs:element name="channels" type="thing-description:channels" />
				<xs:element name="channel-groups" type="thing-description:channelGroups" />
			</xs:choice>
			<xs:element name="properties" type="thing-description:properties"
				minOccurs="0" />
			<xs:element name="representation-property" type="xs:string"
				minOccurs="0" />
			<xs:choice minOccurs="0">
				<xs:element name="config-description" type="thing-description:configDescription" />
				<xs:element name="config-description-ref" type="thing-description:configDescriptionRef" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id"
			type="thing-description:idRestrictionPattern" use="required" />
		<xs:attribute name="listed" type="xs:boolean" default="true"
			use="optional" />
		<xs:attribute name="extensible"
			type="thing-description:namespaceIdListRestrictionPattern" use="optional" />
	</xs:complexType>

	<xs:simpleType name="namespaceIdListRestrictionPattern">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9\-_.]+(,( )?[A-Za-z0-9\-_.]+)*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="bridgeType">
		<xs:complexContent>
			<xs:extension base="thing-description:thingType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="channelType">
		<xs:sequence>
			<xs:element name="item-type" type="xs:string" minOccurs="0" />
			<xs:element name="kind" type="xs:string" minOccurs="0" />
			<xs:element name="label" type="xs:string" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:element name="tags" type="thing-description:tags"
				minOccurs="0" />
			<xs:element name="state" type="thing-description:state"
				minOccurs="0" />
			<xs:element name="event" type="thing-description:event"
				minOccurs="0" />
			<xs:choice minOccurs="0">
				<xs:element name="config-description" type="thing-description:configDescription" />
				<xs:element name="config-description-ref" type="thing-description:configDescriptionRef" />
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id"
			type="thing-description:idRestrictionPattern" use="required" />
		<xs:attribute name="advanced" type="xs:boolean" default="false"
			use="optional" />
		<xs:attribute name="system" type="xs:boolean" default="false"
			use="optional" />
	</xs:complexType>

	<xs:complexType name="channelGroupType">
		<xs:sequence>
			<xs:element name="label" type="xs:string" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="category" type="xs:string" minOccurs="0" />
			<xs:element name="channels" type="thing-description:channels"
				minOccurs="1" />
		</xs:sequence>
		<xs:attribute name="id"
			type="thing-description:idRestrictionPattern" use="required" />
		<xs:attribute name="advanced" type="xs:boolean" default="false"
			use="optional" />
	</xs:complexType>

	<xs:complexType name="supportedBridgeTypeRefs">
		<xs:sequence>
			<xs:element name="bridge-type-ref" type="thing-description:bridgeTypeRef"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="bridgeTypeRef">
		<xs:attribute name="id"
			type="thing-description:idRestrictionPattern" use="required" />
	</xs:complexType>

	<xs:complexType name="channels">
		<xs:sequence>
			<xs:element name="channel" type="thing-description:channel"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="namespaceIdRestrictionPattern">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9\-_.]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="channel">
		<xs:sequence>
			<xs:element name="label" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
			<xs:element name="properties" type="thing-description:properties"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id"
			type="thing-description:idRestrictionPattern" use="required" />
		<xs:attribute name="typeId"
			type="thing-description:namespaceIdRestrictionPattern" use="required" />
	</xs:complexType>

	<xs:complexType name="channelGroups">
		<xs:sequence>
			<xs:element name="channel-group" type="thing-description:channelGroup"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="channelGroup">
		<xs:sequence>
			<xs:element name="label" type="xs:string" minOccurs="0" />
			<xs:element name="description" type="xs:string" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="id"
			type="thing-description:idRestrictionPattern" use="required" />
		<xs:attribute name="typeId"
			type="thing-description:idRestrictionPattern" use="required" />
	</xs:complexType>

	<xs:complexType name="tags">
		<xs:sequence>
			<xs:element name="tag" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="state">
		<xs:sequence>
			<xs:element name="options" type="thing-description:options"
				minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="min" type="xs:decimal" use="optional" />
		<xs:attribute name="max" type="xs:decimal" use="optional" />
		<xs:attribute name="step" type="xs:decimal" use="optional" />
		<xs:attribute name="pattern" type="xs:string" use="optional" />
		<xs:attribute name="readOnly" type="xs:boolean" default="false"
			use="optional" />
	</xs:complexType>

	<xs:complexType name="event">
		<xs:sequence>
			<xs:element name="options" type="thing-description:options"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="options">
		<xs:sequence>
			<xs:element name="option" type="thing-description:option"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="option">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="value" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="properties">
		<xs:sequence>
			<xs:element name="property" type="thing-description:property"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="property">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>
